<div fxLayout fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center">
  <h1>Enter a number (N) down below and hit the button to create a pool of numbers of the size N.</h1>
</div>
<div fxLayout fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center">
  <form class="n-form">
    <mat-form-field class="n-full-width">
      <input matInput placeholder="Enter a number" [(ngModel)]="poolSize" name="poolSize">
    </mat-form-field>
    <div class="button-row">
      <button mat-raised-button color="primary" (click)="createPool()">Create Pool</button>
    </div>
  </form>
</div>